.resume-container{
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    box-shadow: 1px 2px 5px 6px grey ;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}
.header{
    background-color: white;
    /* box-shadow: 2px 2px 10px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
   padding-bottom: 10px;
}
p{
    font-size: 13px;
}
li{
    font-size: 13px;
    
}
.Education-card{
      border-radius: 10px;
      background-color: white;
      padding: 10px;
      /* border: 1px solid red; */
      width: 70%;
      margin: 10px;
      /* display: flex; */
     box-shadow: 1px 2px 5px 2px rgb(174, 233, 174);
 
      /* justify-content: space-around; */

}
.career-objective{
      box-shadow: 1px 2px 5px 2px rgb(174, 233, 174);
 
      background-color: white;
      padding: 10px;
      width: 98%;
   
      /* border: 1px solid grey; */
     border-radius: 16px;

}
.objective-heading{
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    border-top: none;
    width: auto;
}
/* .career-objective{
   
     background-color: white;
     padding: 20px;
     border: 1px solid red;
     border: 2px solid red;
} */
.skills{
     width: 30%;
     background-color: white;
     padding: 20px;
     /* border: 1px solid red;
      */
      margin: 10px;
     
      border-radius: 16px;
      box-shadow: 1px 2px 5px 2px rgb(174, 233, 174);
 
}
.project-details{
     background-color: white;
     margin:10px 5px;
     padding: 10px;
     /* border: 1px solid red; */
     gap: 10px;
     height: 100%;
     flex-direction: column;
     flex-wrap: wrap;
     display: flex;
     border-radius: 10px;
     box-shadow: 1px 1px 2px 3px rgb(146, 246, 185);
  

}
.Top-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;

}

.title-name{
     border: 1px solid grey;
    border-left: none;
    border-right: none;
    border-top: none;
    width: auto;
}
.edu-skill{
    display: flex;
}
.acadamic-clg{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
h4{
    font-size: 14px;
   
}
.project-card{
    /* border: 1px solid green; */
   box-shadow: 1px 2px 5px 2px rgb(174, 233, 174);
   border-radius: 16px;
   padding: 10px;
}
.edu-skill{
    box-shadow: 1px 2px 5px 2px rgb(201, 245, 201);
  border-radius: 20px;
    
}